div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 schedule 
    p.lead Schedule Your Appointment Here 
    img(src='assets/images/resolution.png', alt='schedule')

.container
  .row
    .col-lg-12
      h1.page-header Features:
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='client in awesomeThings')
        li
          a(href='#', tooltip='{{client.info}}')
            | {{client.name}}
            button.close(type='button', ng-click='deleteThing(client)') ×

  form.client-form
    label Syncs in realtime across clients
    p.input-group
      input.form-control(type='text', placeholder='Add a new client here.', ng-model='newThing')
      span.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addThing()') Add New

footer.footer
  .container
    p
      | Angular Fullstack v2.0.13
      = ' | '
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues
